@charset "utf-8";
/* CSS Document */

.banner
{
	width:100%;
	height:200px;
	
}
.welcome
{
	width:100%;
	height:500px;
	padding:30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#crschedule{
    display:none;
}


#conduct_by,#issue_by{
    display: none;
}

#offcampus,#research,#pgdaem{
    display:none;
}

#protype td select{
    width: 330px;
}

#oncampus td select, #offcampus td select, #research td select, #pgdaem td select, #dor td input{
    width:330px;
}

#durconduct td input, #durissue td input, #venue td input{
    width:330px;
}
